{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block head %}
<style>
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, black, darkgray);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: backgroundFade 115s infinite;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.form-register input[type="text"],
.form-register input[type="email"],
.form-register input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3);
}

.form-register input[type="text"]:focus,
.form-register input[type="email"]:focus,
.form-register input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.gradient-text {
    background: linear-gradient(90deg, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes backgroundFade {
    0%, 100% { background: linear-gradient(to bottom, darkgray, black, darkgray); }
    50% { background: linear-gradient(to bottom, black, darkgray, black); }
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center gradient-text">Register</h2>
    <form method="post" class="form-register mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block gradient-text">Done</button>
    </form>
</div>
{% endblock %}