{% extends 'base.html' %}

{% block title %}Рейтинг компаний{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Рейтинг компаний</h2>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Компания</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>{{ company.rating }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}